@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
/* Base Styles ***/

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	font-size: .8rem;
	color: #656565;
}


a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 1.3rem;
}

h2 {
	font-size: 1.1rem;
	color: #2d3d56;
}


/* Header ***/

.main-header {
	width: 100%;
	background: #2d3d56;
	color: #fff;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.name {
	margin: 0;
	text-transform: uppercase;
}

/* Wrap ***/

.wrap {
	max-width: 320px;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0 auto;
}

/* Form Header ***/

.form-header {
	text-align: center;
	border-bottom: 4px solid #2d3d56;
	padding-top: 1em;
	padding-bottom: 1em;
}

.form-header h2 {
	margin-bottom: 0;
}

.form-header p {
	margin-top: .6em;
}

/* Border Div ***/

.border-div { /*sets border for fieldsets */
	background: #2d3d56;
	height: 2px;
	margin-top: 5px;
	margin-bottom: 2em;
}

/* Form ***/

form {
	width: 100%;
}


fieldset {
	border: none;
	padding: 0;
	margin-bottom: 2em;
}


legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.contact-legend {
	margin-bottom: 25px;
}

label {
	display: block;
	margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

label.news-label {
	margin-top: 12px;
	margin-bottom: 12px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input:focus,
textarea:focus {
  border: solid 1px #017b82;
  outline: none;
  text-align: left;
}

/*input[placeholder="required"] {
	font-style: italic;
	text-align: right;
	font-size: 0.75rem;
}*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-align: end;
	font-style: italic;
	font-size: 0.75rem;
}

textarea {
	margin-bottom: 0;
	/*background: rgba(1,123,130,.1);*/ /*#017b82;*/
	background: #fff;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 5px 4px 15px 0;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
	background: #017b82;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

section.news-field {
	background: rgba(255,255,255,0.1);
	background-color: #e8eeef;
	padding: 5px;
	border-radius: 5px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #03a4ad;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #017b82;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

/* Form Footer ***/

.form-footer p {
	text-align: center;
	font-style: italic;
	font-size: .8rem;
}

@media screen and (min-width: 768px) {

	.wrap {
		max-width: 480px;
	}

	.contact-flex {
		display: flex;
		justify-content: space-between;
	}

	.contact-flex label {
		margin-right: auto;
		margin-top: 15px;
		display: inline-block;
	}

	.contact-flex input,
	.contact-flex select {
		display: inline-block;
		width: 70%;
	}

}